includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:
    level: 5
    paths:
        - src

    excludePaths:
        - src/govuk-activity-log.php
        - src/Views/activity.blade.php
